{% extends 'base.html.twig' %}
{% block body %}

    <ul>
        {% for show in programs %}
            <li>{{ show.id }} - {{ show.title }} :</li>
            <p>{{ show.summary }}</p>
        {% endfor %}
    </ul>

{% endblock %}
