{% extends 'base.html.twig' %}
{% block body %}

    <ul>
        {% for program in programsByCategories %}
            <li>{{ program.id }} - {{ program.title }} :</li>
            <p>{{ program.summary }}</p>
        {% endfor %}
    </ul>

{% endblock %}