{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

    <h4 class = "text-primary m-3">Toutes les séries - WILDSÉRIES </h4>
            <div class="row">
                {% for program in programs %}
                <div class="col">
                    <div class="card" style="width: 217px;">
                      <a href="{{ path('wild_show', {'slug' : program.title}) }}" class="btn btn-primary">
                        <img src="{{program.poster}}" alt="{{ program.title }}" class="card-img-top">
                      </a>
                    </div>
                </div>
                {% endfor %}
            </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}


