@import 'variables.scss';
@import 'fonts.scss';

.navbar {
  background-color: $blue;
} .nav-link {
    color : white;
  font-size : 20px;
  }  .navbar-brand {
       font-family: $typo-title;
       color : white;
  font-size: 35px;
       &:hover {
         color : $dark;
       }
     }
body {
  background-color: $black;
}
