@import 'variables.scss';
@import 'fonts.scss';


body {
    background-color : white;
}

.navbar {
    background-color: $blue;
    color : $dark;
} .navbar-brand {
    font-family: $typo-title;
    &:hover {
        color : $dark;
    }
  }
